<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext-*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>
  </listener>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckCustomerLoginFilter</filter-name>
    <filter-class>com.ssh.filter.CheckCustomerLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckCustomerLoginFilter</filter-name>
    <url-pattern>/AddConsignmentAddress.jsp</url-pattern>
    <url-pattern>/DeleteConsignmentAddress.jsp</url-pattern>
    <url-pattern>/LoginSuccess.jsp</url-pattern>
    <url-pattern>/ManageConsignmentAddress.jsp</url-pattern>
    <url-pattern>/RegisterSuccess.jsp</url-pattern>
    <url-pattern>/ReviseConsignmentAddress.jsp</url-pattern>
    <url-pattern>/ReviseData.jsp</url-pattern>
    <url-pattern>/RevisePassword.jsp</url-pattern>
    <url-pattern>/Add_shopping_success.jsp</url-pattern>
    <url-pattern>/Order_list.jsp</url-pattern>
    <url-pattern>/Order_success.jsp</url-pattern>
    <url-pattern>/Shopping.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckAdminLoginFilter</filter-name>
    <filter-class>com.ssh.filter.CheckAdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAdminLoginFilter</filter-name>
    <url-pattern>/BookRevise.jsp</url-pattern>
    <url-pattern>/DeleteCustomer.jsp</url-pattern>
    <url-pattern>/ManageCustomer.jsp</url-pattern>
    <url-pattern>/management_Main.jsp</url-pattern>
    <url-pattern>/ReviseCustomer.jsp</url-pattern>
    <url-pattern>/BookManagement.jsp</url-pattern>
    <url-pattern>/BookTypeManagement.jsp</url-pattern>
    <url-pattern>/AddNewBook.jsp</url-pattern>
    <url-pattern>/Book_statistics.jsp</url-pattern>
    <url-pattern>/Order_manage.jsp</url-pattern>
  </filter-mapping>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/Error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>